<!DOCTYPE html>

<html lang="en">

    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- documentation at http://getbootstrap.com/docs/4.1/, alternative themes at https://bootswatch.com/ -->
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">

        <!-- https://favicon.io/emoji-favicons/money-mouth-face/ -->
        <link rel="shortcut icon" type="image/png" href="/static/favicon.png"/>

        <link href="/static/indexstyles.css" rel="stylesheet">
        <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet'>
        <link href="//fonts.googleapis.com/css?family=Arimo" rel="stylesheet">

        <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"></script>

        <title>How Are You?</title>

    </head>

    <body>

        <h1 class = "introductiontext">How Are You?</h1>

        <div class = "explanation">
            <h2 class = "explanatorytext">Harvard can be a stressful place. We want to make accessing its Mental Health services easy for you! Have a conversation with us, and share your thoughts! We want to hear you.</h2>
        </div>

        <div id = "container">
            <a href = "/yourname"><button class = "conversation">What's On Your Mind?</button></a>
        </div>

        <div id="background-wrap">
            <div class="bubble x1"></div>
            <div class="bubble x2"></div>
            <div class="bubble x3"></div>
            <div class="bubble x4"></div>
            <div class="bubble x5"></div>
            <div class="bubble x6"></div>
            <div class="bubble x7"></div>
            <div class="bubble x8"></div>
            <div class="bubble x9"></div>
            <div class="bubble x10"></div>
        </div>

    </body>