{% extends "layout.html" %}

{% block title %}
    Question 4
{% endblock %}

{% block main %}
    <h1 class = "questiontext">Where and what do you usually eat for breakfast, lunch and dinner? How consistently do you eat?</h1>

        <form class = "questionform" action="/question4" method="POST">
            <div class="form-group">
                <label for="InputResponse">Your Response:</label>
            </div>

            <textarea cols="55" rows="3" name="question_fourth"></textarea>

            <div class="button-group">
                <button type="submit" class="btn btn-primary">Next Question!</button>
            </div>

        </form>

{% endblock %}
