{% extends "layout.html" %}

{% block title %}
    Resources
{% endblock %}

{% block main %}
    <h1 class = "questiontext">RESOURCES</h1>
    <p class = "paragraphtext">Here are all of the on campus resources!</p>

    <table>
        <tr>
            <th></th>
            <th>Room13</th>
            <th>Contact</th>
            <th>ECHO</th>
            <th>Indigo</th>
            <th>Response</th>
        </tr>
        <tr>
            <td class = bigger>Focus</td>
            <td>Counseling any and all concerns</td>
            <td>Counseling related to LGBTQ identities, gender, sexuality and relationships</td>
            <td>Counselling concerns related to eating, exercise and body image</td>
            <td>Counseling concerns related to socioeconomic status, immigration status, race and other identities</td>
            <td>Counseling relationship concerns, including sexual harassment and assault</td>
        </tr>
        <tr>
            <td class = bigger>Drop-in Hours</td>
            <td>Every night, 7pm-7am</td>
            <td>Every night, 8pm-11pm</td>
            <td>Sunday-Wednesday, 8pm-11pm</td>
            <td>Every night, 8pm-12am</td>
            <td>Sunday-Wednesday, 8pm-11pm</td>
        </tr>
        <tr>
            <td class = bigger>Call Hours</td>
            <td>Every night, 7pm-7am</td>
            <td>Every night, 8pm-8am</td>
            <td>Every night, 8pm-8am</td>
            <td>Every night, 8pm-8am</td>
            <td>Sunday-Wednesday, 8pm-8am</td>
        </tr>
        <tr>
            <td class = bigger>Location</td>
            <td>Thayer B-09</td>
            <td>Thayer B-04</td>
            <td>Eliot T-24</td>
            <td>Thayer B-01</td>
            <td>Lowell EL-15</td>
        </tr>
        <tr>
            <td class = bigger>Phone Number</td>
            <td>617-495-4969</td>
            <td>617-998-6898</td>
            <td>617-495-8200</td>
            <td>617-659-0140</td>
            <td>617-999-8353</td>
        </tr>
    </table>

    <p></p>
    <p class = "paragraphtext">Here are all of the hotlines!</p>

    <table>
        <tr>
            <th></th>
            <th>HUPD Emergency Hotline</th>
            <th>OSAPR (Office of Sexual Assault Prevention and Response)</th>
            <th>CAMHS (Counseling & Mental Health Services, HUHS)</th>
        </tr>
        <tr>
            <td class = bigger>Phone Number</td>
            <td>617-495-1212</td>
            <td>617-496-5636</td>
            <td>617-495-2042</td>
        </tr>
        <tr>
            <td class = bigger>Other</td>
            <td></td>
            <td>617-495-9100 (Confidential Hotline)</td>
            <td>617-495-5711 (after-hours urgent care)</td>
        </tr>
    </table>

{% endblock %}